/* General Styles */

body {
    margin:0px;
    padding:0px;
}

main {
    margin-bottom:20px;
    font-family: 'Noto Serif Georgian', serif;
    font-weight: 400;
    position: relative;
    width: 100%;
}

h1, h2, h3 {
    font-family: 'Libre Franklin', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

img {
    max-width: 100%;
    object-fit: cover;
}

/* main img {
    max-height:500px;
} */

/* Navigation Styles */

nav {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-right: 0px;
    background: rgb(176, 224, 230);
    font-family: 'Libre Franklin', sans-serif;
    text-align: center;
}
nav a {
    color:black;
    padding-left: 0px;
    margin-left: 20px;
}

nav a:hover {
    border-bottom: 3px solid black;

}

/* nav a:hover:before {
    content: "- ";
} */

/* Main Page Grid Styles */

.featured-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0px;
    position: relative;
    left: 0;
    right:0;
    bottom: 0;
}

#home-headings {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    padding: 0px;
    align-items: center;
}

.recipe-preview {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

/* Recipe Card Styles */

#recipe-detail h3 a {
    font-size:14px;
    color: black;
}

main h1, main h2 {
    position: relative;
    left: 0;
    right:0;
    bottom: 0;
    text-align: center;
    width: 100%;
}

.recipe-title {
    text-align: center;
    background-color: rgb(176, 224, 230);
    padding-top:1px;
    padding-bottom: 1px;
}

.rate-this-recipe {
    font-size: 14px;
    background: coral;
    border-radius: 10px;
    padding: 10px;
    margin-left: 4px;
    transition: 1s;
}

.rate-this-recipe:hover {
    background-color: rgb(49, 190, 209);
}

.recipe-featured-image img{
    max-height: 500px;
    transition: 1s;
}

.recipe-featured-image img:hover{
    filter: grayscale(100%);
}

.view-this-recipe {
    font-size: 14px;
    background-color: rgb(176, 224, 230);
    border-radius: 10px;
    padding: 10px;
    margin-left: 10px;
    color:black;
}
.recipe-rating {
    text-align: center;
}

.view-this-recipe:hover {
    background-color: rgb(49, 190, 209);
}

/* Detail Page Grid Styles */

.recipe-detail {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}

.left-sidebar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 4fr 4fr 4fr;
    grid-gap: 40px;
}

#center-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
}

.right-sidebar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 4fr 4fr 4fr;
    grid-gap: 40px;
}

/* Detail Page Ordered List Styles */

#step-list {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 350px;
}

#recipe-steps #step-list {
    list-style-type: none;
    counter-reset: ol-counter;
    padding: 0px;
    }

#recipe-steps #step-list li:before {
    font-size:16px;
    margin-right: 10px;
    font-family: 'Libre Franklin', sans-serif;
    content: counter(ol-counter) ".";
    counter-increment: ol-counter;
}

/* Detail Page Image Styles */

#featured-photo {
    max-height: 500px;
    text-align: center;
}

#featured-photo img {
    max-width: 75%;
    max-height: 500px;
    height: auto;
    text-align: center;
}

/* Detail Page Table Styles */
#ingredients-list table {
    table-layout: fixed;
    width: 350px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
  }

#ingredients-list {
    position: relative;
    width: 100%;
}

#ingredients-list tr:nth-child(even){
    background-color: #dfdede;
}

#ingredients-list th{
    font-family: 'Libre Franklin', sans-serif;
    font-size: 16px;
    text-align: left;
    border-bottom: 3px solid black;
    border-collapse: collapse;
    padding: 0px 0px 2px 0px;
    margin-left:10px;
}

#ingredients-list tr {
    font-size: 14px;
    text-align: left;
}

/* Footer Styles */
footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    position: relative;
    left: 0;
    right:0;
    bottom: 0;
    text-align: center;
    width: 100%;
    font-family: 'Libre Franklin', sans-serif;
    background-color:  rgb(176, 224, 230);
}
